body{
    line-height: 1.2;
}
a{
    color: inherit;
    display: inline-block;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &.link:hover, &.nav-link:hover{
        color: $accent-200;
    }
    &.badge{
        line-height: inherit;
        background-color: $primary-300;
        color: $primary-400;
        &:hover{
            background-color: $primary-400;
            color: $white;
        }
    }
}


.font-en{
    font-family: "Newsreader", serif;
}

img{
    width: 100%;
    vertical-align: middle;
}

p{
    letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6{
    letter-spacing: 0.1em;
}

ol, ul, dl{
    margin-bottom: 0;
}

