.hero-bg{
  height: 621px;
  color: $white;
  background-image: url("/assets/images/banner.png");
  background-size: cover;
  background-position: center center;
  @include media-breakpoint-down(sm) {
    height: 551px;
    background-image: url("/assets/images/banner-sm.png");
  }
}

.viewmore{
  color: $accent-200;
  &:hover{
    color: $accent-300;
  }
  .bi::before{
    vertical-align: middle;
  }
}

.theme-card{
  border-radius: 20px 0 20px 0;
  overflow: hidden;
  vertical-align: top;
  &::after{
    transition: all 0.15s ease-in-out;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  &:hover{
    &::after{
      background: rgba($gray-600,0.4);
    }
  }
}

.article-title{
  transform: translateY(100%);
  @include media-breakpoint-down(lg) {
    transform: translateY(0);
  }
}

.sale-bg{
  &::before{
    content: "";
    position: absolute;
    width: 217px;
    height: 72px;
    background-image: url("/assets/images/bg-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    left: 10px;
    bottom: 0;
  }
  &::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 186px;
    background-image: url("/assets/images/bg-2.png");
    background-repeat: no-repeat;
    background-position: top center;
    right: -30px;
    bottom: 0;
  }
  @include media-breakpoint-down(lg) {
    &::before{
      left: -70px;
    }
    &::after{
      right: -125px;
    }
  }
  @include media-breakpoint-down(sm) {
    &::before{
      display: none;
    }
    &::after{
      background-image: url("/assets/images/bg-2-sm.png");
      width: 160px;
      height: 104px;
      right: -48px;
      bottom: -6px;
    }
  }
}

.sale-list li::before{
  font-family:'Bootstrap-icons';
  content: '\F26E';
  font-size: 24px;
  vertical-align: middle;
  margin-right: 12px;
  position: relative;
  top: -2px;
}

.sale-subtitle{
  color: $primary-400;
  @include media-breakpoint-down(sm){
    color: $accent-200;
  }
}

.hot{
  .list-group-item::before{
    content: "‧ ";
  }
  .list-group-item-action,
  .list-group-item-action:hover,
  .list-group-item-action:focus{
    background-color: inherit;
  }
  .list-group-item-action:hover,
  .list-group-item-action:focus{
    color: $accent-200;
  }
  .list-group-item.active{
    background-color: $accent-100;
    color: $body-color;
  }
}

.proposal-card{
  &::after{
    transition: all 0.15s ease-in-out;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  &:hover{
    &::after{
      background: rgba($gray-600,0.4);
    }
  }
}

.proposal-card-text{
  background: linear-gradient(rgba($gray-900,0.05), $gray-900);
}

.proposal-list{
  @include media-breakpoint-down(sm){
    overflow-x: scroll;
    li{
      width: 90%;
    }
  }
}